
#game-canvas {
  display: none;
  border: 1px solid gray;
  width: 768px;
}

#level-error {
  display: none;
}

#game-canvas {
  border: 1px solid black;
  width: 768px;
}

img.sprite {
  height: 24px;
  border: 1px solid white;
}

img.selected {
  height: 24px;
  border: 1px solid red;
}
